#footer h1 {
    line-height: 0.8;
    font-weight: 600;
    color: #fff;
    font-size: 60px;
}

#footer {
    background-color: #e45a81;
}

#footer .about-us .title {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 3px solid currentColor;
    padding-bottom: 3px; /* Adjust this to move the underline up or down */
    width: 50%; /* Adjust this to control the length of the underline */
    margin: 0 0; /* This centers the underline */
}

#footer .about-us .content {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

#footer .contact-us .title {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 3px solid currentColor;
    padding-bottom: 3px; /* Adjust this to move the underline up or down */
    width: 50%; /* Adjust this to control the length of the underline */
    margin: 0 0; /* This centers the underline */
}

#footer .contact-us .content {
    color: #000;
    font-size: 16px;
    font-weight: 400;
}

#footer .footer-logo {
    border-radius: 600px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(37, 37, 37, 0);
    border: 3px solid #000;
    z-index: 2;
    
}

#footer .social-media a {
    color: #000;
    font-size: 22px;
    font-weight: 600;
    border-bottom: 3px solid currentColor;
    padding-bottom: 3px; /* Adjust this to move the underline up or down */
    width: 50%; /* Adjust this to control the length of the underline */
    margin: 0 0; /* This centers the underline */
    text-decoration: none;
}

a {
    
}